version: '3.8'
services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: mysecretpassword
      MYSQL_DATABASE: photo_management_db
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./db-init:/docker-entrypoint-initdb.d
  web:
    build: .
    ports:
      - "3001:3001"
    environment:
      DATABASE_URL: "mysql://root:mysecretpassword@db:3306/photo_management_db"
    depends_on:
      - db

volumes:
  db_data:
